[submodule "TagHighlight"]
	path = TagHighlight
	url = git@github.com:magic-dot-files/TagHighlight.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
